<div id="quoteContainer" (swipeleft)="fadeQuoteOut()">
  <div id="logo">
    <img src="assets/quotehappylight.png" />
    <div class="logoText">
      QuoteHappy
    </div>
  </div>
  <div *ngIf="show" [@slideInOut] (@slideInOut.done)="animationDone($event)">
    <div class="quote">
      {{ quote.text }}
    </div>
    <div class="author">
      {{ quote.author }}
    </div>
  </div>
  <div *ngIf="swipeIndicator" [@slideInOut]  class="more" (click)="fadeQuoteOut()">
    <div class="center">
      <img src="assets/swipe.svg" />
      Swipe left for more...
    </div>
  </div>
</div>